@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #4caf4f;
  --secondary-color: #263238;
  --bg-color-one: #f5f7fa;
  --text-color: #18191f;
  --heading-color: #4d4d4d;
  --paragraph-color: #717171;
}
body {
  font-family: "Inter", serif;
}

.my-navbar {
  background-color: var(--bg-color-one);
}

.navbar-btn button {
  font-size: 14;
}

.login-btn {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  margin-right: 14px;
}

.sign-up-btn,
.register-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 6px;
  border: none;
  transition: all 0.3 ease-in-out;
}

.sign-up-btn:hover,
.register-btn:hover {
  background-color: #0caf6e;
}

.nav-item a {
  color: var(--text-color);
  transition: all 0.3 ease-in-out;
}

.nav-item > .active {
  font-weight: 500;
}

.nav-item a:hover {
  font-weight: 500;
}

.hero-section {
  background-color: var(--bg-color-one);
}

.hero-section-row {
  min-height: 80vh;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: var(--heading-color);
}

.hero-primary-color {
  color: var(--primary-color);
}

.hero-content p {
  font-weight: 400;
  line-height: 24px;
  color: var(--paragraph-color);
}

.register-btn {
  border-radius: 4px;
  color: #ffffff;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--primary-color);
}
